ul {
    display: flex;
    margin-right: 10%;
}

ul li {
    color: #212F3D;
    font-weight: bold;
    font-size: 20px;
    padding: 50px 50px;
}

.bar1 {
    width: 1424px;
    height: 50px;
    margin: auto;
}

.main2 {
    width: 100%;
}

.main3 {
    width: 1424px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: row;
    align-items: center;
}

.main4 {
    width: 200px;
    height: 325px;
    background-color: #eee;
    margin: 40px 50px 20px 30px;
}

.main5 {
    width: 180px;
    height: 40px;
    margin: 10px 10px;
    font-weight: bold;
    text-align: center;
}

.fav {
    font-size: 16px;
    font-weight: bold;
    margin: 3px 9px;
    padding: 3px;
}

.fav:hover {
    background-color: darkgrey;
}

.bar {
    width: 100%;
    height: 50px;
    background-color: #212F3D;
    margin-top: 20px;
    box-shadow: 5px 5px 2px #eee;
}

.bar ul {
    display: flex;
    margin-right: 10%;
}

.bar ul li {
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
}

.main {
    width: 100%;
    height: 650px;
    text-align: center;
}

.main1 {
    width: 400px;
    height: 500px;
    display: inline-block;
    margin-top: 70px;
    border: none;
    border-radius: 20px;
}

.main1 p {
    text-align: left;
    padding-left: 5px;
    font-weight: bold;
    margin-top: 15px;
}

.main h1 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}

.main p a {
    color: blue;
}

.main p a:hover {
    color: darkgray;
}

.button {
    background-color: white;
    color: #212F3D;
    font-size: 17px;
    font-weight: bold;
    width: 100px;
    height: 34px;
    margin-top: 8px;
    padding: 5px;
    margin-left: 950px;
}

.button:hover {
    background-color: #eee;
}

.button2 {
    background-color: white;
    background-color: white;
    color: #212F3D;
    font-size: 17px;
    font-weight: bold;
    width: 130px;
    height: 34px;
    margin-top: 8px;
    padding: 5px;
    margin-left: 30px;
}

.button2:hover {
    background-color: #eee;
}

.maincontainer {
    width: 1024px;
    background-color: #EEE;
}

.view {
    border: solid 2px #212F3D;
    font-size: 14px;
    font-weight: bold;
    color: #212f3d;
    padding: 2px 8px 2px 8px;

}

.view:hover {
    background-color: gray;
}

.back {
    background-color: white;
    color: #212F3D;
    font-size: 17px;
    font-weight: bold;
    width: 75px;
    height: 34px;
    margin-top: 3px;
    padding: 4px;
    float: right;
}

.back:hover {
    background-color: #eee;
}

.text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #212F3D;
    margin-top: 10px;
}

.bar {
    margin-top: 10px;
}

.name {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10%;
    padding: 7px;
}
.mainbig {
    width: 500px;
    height: 600px;
    background-color: #eee;
    margin: 40px 50px 100px 30px;
    margin-left: 200px;
  }

  .mainbig2 {
    width: 480px;
    height: 50px;
    margin: 10px 10px;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
  }